.mt-4.mb-4.single-container.d-flex
  .mr-4.movie-preview
    %iframe{:height => "315", :src => "#{movie.movie_url_embed}", :width => "420"}
  .movie-detail
    %strong{ style: ('font-size: 20px') }
      = movie.title
      - if movie.shared_by?(current_user)
        %i.fa-solid.fa-pen-to-square{"data-target" => "##{movie.id}.update-modal", "data-toggle" => "modal", type: 'button', style: ('cursor: pointer')}
    .share-by
      Share by: 
      = movie.user.email
      .toggle-like-dislike.mb-1{id: movie.id, style: ('pointer-events: none' unless current_user)}
        = render 'movies/toggle_like_dislike', movie: movie
    .description
      %p Description:
      %p= movie.description
  = render 'movies/update_movie', movie: movie
