.update-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: movie.id}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h3#share-modal Update your movie
      .modal-body
        = form_for movie, method: :put do |f|
          .row
            .col-12
              = f.label :title
              = f.text_field :title, label: 'Movie title', class: 'form-control', value: movie.title, required: true
          .row
            .col-12
              = f.label :movie_url
              = f.text_field :movie_url, label: 'Youtube URL', class: 'form-control', value: movie.movie_url, required: true
          .row
            .col-12
              = f.label :description
              = f.text_field :description, label: 'Description', class: 'form-control', required: false 
          .modal-footer
            %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancle
            = f.submit 'Update', class: 'btn btn-primary'